<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find Fav Dish Admin Panel</h1>
    <h2>Add Your fav Dish here..</h2>
    <form>
        <table>
            <tr>
                <td>
                    <label>Item name</label>
                </td>
                <td>
                    <input type="text" name="dishname" value="">
                </td>                
            </tr>
            <tr>
                <td>
                    <label>Country of origin</label>
                </td>
                <td>    
                    <input type="text" name="country" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Location</label>
                </td>
                <td>
                    <input type="text" name="location" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Upload Image</label>                    
                </td>
                <td>
                    <input type="file" name="image" value="">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>        
    </form>
</body>
</html>